doctype html
html(lang="ko")
    head
      meta(content="IE=edge", http-equiv="X-UA-Compatible")
      meta(content="width=device-width, initial-scale=1", name="viewport")
      meta(content="VPNGate VPN List and IP Address search feature", name="description")
      meta(content="LiteHell", name="author")
      link(rel="stylesheet", href="/s/css/bootstrap.css")
      block HeadContent
    body
      block Content
      script(src="/s/js/jquery-1.11.3.min.js")
      script(src="/s/js/bootstrap.min.js")
